.mainheader{
    background-color: rgb(36, 48, 153);
    width: 100%;
     border-bottom: 4px solid #1f2fc2;
}

.headercontainer{
    display: flex;
    justify-content: space-between;
     align-items: flex-end;
     width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      padding-right: 20px;
}

.logo{
    background-color: #3944da;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 80px;
    width: auto;
}

.navigation{
  flex-grow:1;
  margin-bottom: 15px;
  margin-left: 40px;
}

.navigation ul{
     list-style: none;
    display: flex;
    gap:30px;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 3px;
     border-bottom: 2px solid #371ea7;
     transition: color 0.3s, border-color 0.3s;
}

.navigation ul li a:hover{
    color:#ffff;
    border-bottom: 2px solid #fff;
}

.search-box{
    margin-bottom: 12px;
}

.search-box form{
    display: flex;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-box input{

    border:none;
    outline:none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color:#333;
    width:150px;
}

.search-box button{
    background-color: #333;
    border: none;
    color:#333;
    border-radius: 50%;
    width:30px;
    height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}