body{
    background-image: url("https://i.ibb.co/wFdzYv47/background.jpg");
    margin: 0;
    padding: 0;
    font-family: 'Arial',sans-serif;
    box-sizing: border-box;
    background-size: 60px 60px;
}