body{
    height: 100px;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Arial',sans-serif;
    box-sizing: border-box;
    background-size: 60px 60px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

body::before{
     content:" ";
    position: fixed;
    top: 0%;
    left:0; 
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.ibb.co/wFdzYv47/background.jpg");
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
     z-index: -1;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

h1,h2,h3{
    font-family: 'georgia',serif;
    color:#fff700;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

h1{
    font-size: 2.5rem;
   
    letter-spacing: 1px;
}

h2{
    font-size: 1.8rem;
}

.subtitle{
    color:#ffffff;
    font-size: 1rem;
    margin-bottom: 50px;
    font-weight: bold;
    opacity: 1;
}

.content{
    text-align: left;
    margin-top: 30px;
}

.title{
    color:#fff700;
    font-family: 'Georgia',serif;
    font-size: 1.4rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.split{
    display: flex;
    gap: 30px;
    align-items: center;
}

.text-box{
    flex: 1;
    background-color: rgba(0,86,179,0.5);
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    height: 200px;
    color: #ffffff;
    font-size: 0.95rem;
    line-height: 1.5;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.image-box{
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-box img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.bestsellers{
    margin:50px auto;
    margin-top: 50px;
    max-width: 1000px;
    border-top: 2px dashed rgba(66, 58, 184, 1);
    padding-bottom: 50px;

}

.products{
    display: flex;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-card{
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}
 .product-card:hover{
    transform: translateY(-10px);
 }

 .product-card img{
    width: 100%;
    height: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid white;
    margin-bottom: 10px;
 }

 .product-card h4{
    color:#fff700;
    margin:5px 0;
    font-family: 'Georgia',serif;
    font-size: 1.2rem;
 }

 .product-card p{
    color: white;
    font-size: 0.9rem;
    margin: 0;
 }

 