 
body{
    display:flex;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    
   }  

   body::before{
    content:" ";
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.ibb.co/wFdzYv47/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
   }

   .left-panel{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
   }

   .welcome{
      font-family: 'Times New Roman', Times, serif;
       font-size: 4rem;
      color: #0056b3;
      text-shadow: 2px 2px 0px rgba(255,255,255,0.4);
      margin-bottom: 30px;
   }

  .container{
    width:200px;
    height: 200px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition:transform 0.3s ease;
    display : flex;
    align-items: center;
    justify-content: center;
    border: 6px solid white;

  }

  .container:hover{
    transform: scale(1.05);
  }

  .logo-img{
  width: 80%;
  height: auto; 
  }

  .right-panel{
    flex: 1;
    background-color: rgba(0,168,255,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .usericon{
font-size: 3.5rem;
color: #ccc;
margin-bottom: 20px;
display: flex;
justify-content: center;

  }

  .usericon img{
   
    width: 60px;
    height: auto;
    opacity: 0.7;
  }

  .login-title{
color:#555;
font-size: 1.5rem;
letter-spacing: 1px;
margin-bottom: 30px;
font-family: 'Poppins',sans-serif;
text-transform: uppercase;
  }


 h3{
    flex:2;
    color:black;
 padding:80px;
 display:flex;
 justify-content:center;
 flex-shrink:0;
 text-align: right;
 font-size: xx-large;
 font-family:Georgia, 'Times New Roman', Times, serif;
}
   #btn{
    background-color:#1818c5;
    color:aliceblue;
    border:none;
    height:30px;
    width:100px;
    padding:10px;
    cursor:pointer;
    width:100%
    font-size=16px;
   }

   #btn:hover{
    background-color:#2424cc;
    color:white;
   }

 
   form{
    background-color:#FFFF;
    padding:20px;
    margin: 8 rem auto;
    text-align:center;
    width:250px;
    height: 300px;
   }

   .socials{
    font-size: 0.8rem;
    color: #555;
    text-decoration: none;
    display: block;
   }
   
   .socials:hover{
    color: #00AAFF;
    text-decoration: underline;
   }

   .or{
font-size: 0.8rem;
    color:#aaa;
    font-weight: bold;
    margin: 15px 0;
   }
    
