body{
    font-family: 'Poppins',sans-serif;
    height: 300px;
    width: 300px;
    display: flex;
    overflow: hidden;
}

body::before{
    content:" ";
    position: fixed;
    top: 0%;
    left:0; 
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/11WVRbC/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.welcome{
   
    font-family: 'Dancing Script',cursive;
    font-size: 3rem;
    z-index: index 10;
    text-align: center;
    color:#0056b3;
    margin-top: 80px;
    margin-bottom:40px;
    margin-left: 150px;
    white-space: nowrap;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.2);
}

.title{
    color: #777;
    font-size: 1.5 rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.container-box{
  align-content: center;
  margin-left: 300px;
  margin-top: 300px;
   background-color:white;
   width:300px;
   height:900px
   display=flex;
   padding: 50px 30px;
   text-align: center;
   border-radius: 8px;
   box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.left-panel{
  flex:1.5;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: cover;
}

.right-panel{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-input {
      width: 80%; padding: 0px 10px 10px 35px;
        border: 1px solid #ddd; background-color: #f7f7f7;
    font-size: 0.9rem; outline: none; color: #555;
    margin-bottom: 25px;
   }

   .custom{
      width: 80%; padding: 0px 10px 10px 35px;
        border: 1px solid #ddd; background-color: #f7f7f7;
    font-size: 0.9rem; outline: none; color: #555;

   }

   .submit-button{
    width: 100px;
    height: 45px;
    background-color: #00AAFF;
    color: white;
    border: none;

   }